<div class="row text-center mb-2" id="experience">
    <h3>Professional Experience</h3>
</div>
<div class="row px-4">
    <div class="col-md-6 d-flex align-items-stretch">
        <div data-aos="flip-left" data-aos-duration="2000" class="card mb-3">
            <img class="card-img-top p-4" src="../assets/images/macy's.png" alt="Card image cap"
                style="height: 200px;" />
            <div class="card-body">
                <h5 class="card-title">Software Engineer <small class="text-muted">(John's Creek, Georgia)</small></h5>
                <p class="card-text"><small class="text-muted">June 2022 to Current</small></p>
                <p class="card-text">
                    • Agile development of microservices for modern warehouse management software
                </p>
                <p class="card-text">
                    • Using software technologies and concepts: Java, Spring Boot, GCP Pub/Sub, GCP Cloud SQL, MySQL,
                    Maven, Jenkins, Project Lombok, REST, Jira, Spinnaker, and GitLab
                </p>
                <p class="card-text">
                    • Software testing using JUnit, Mockito, Postman, and Jenkins
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 d-flex align-items-stretch">
        <div class="card mb-3" data-aos="flip-right" data-aos-duration="2000">
            <img class="card-img-top p-4" src="../assets/images/hpimg.png" alt="Card image cap"
                style="height: 200px;" />
            <div class="card-body">
                <h5 class="card-title">Software Developer Intern <small class="text-muted">(Remote)</small></h5>
                <p class="card-text"><small class="text-muted">June to August 2021</small></p>
                <p class="card-text">
                    • Worked to automate the error testing of ZCentral workstations
                </p>
                <p class="card-text">
                    • Developed software using C++, C#, and socket communication. Utilized Visual Studio for the
                    development environment and used TortoiseSVN for source control
                </p>
            </div>
        </div>
    </div>
</div>