

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light row" id="contact">
  <div data-aos-anchor="#example-anchor"
    data-aos-offset="500"
    data-aos-duration="500"
    data-aos="fade-up" data-aos-duration="2000" class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="fw-normal ">Alexander Scott</h1>
    <p class="lead fw-normal">Software Engineer</p>
    <p class="">Computer Science M.S.</p>
    <p>alexscott155@gmail.com</p>
    <p>
      
      <i class="bi bi-linkedin pr-4"></i>
      <a href="https://www.linkedin.com/in/alexander-scott-300a31180 ">LinkedIn</a>
    </p>
    <p>
      <i class="bi bi-github"></i>
      <a href="https://github.com/alexscott155">GitHub</a>  
    </p>

      
    
    
  </div>
 <div data-aos="fade-left" data-aos-duration="2000"  class="col-md-5">
   <img src="../assets/images/gradpic.png" class="img-fluid" alt="image">
  </div>
   
</div>
<div  class="row text-center mb-2" id="experience">
<h3 >Professional Experience</h3>
</div>
<div class="row px-4">
  <div  class="col-md-6 d-flex align-items-stretch">

      <div data-aos="flip-left" data-aos-duration="2000" class="card mb-3">
        <img class="card-img-top p-4" src="../assets/images/macy's.png" alt="Card image cap" style="height: 200px;"/>
        <div class="card-body">
          <h5 class="card-title">Software Engineer <small class="text-muted">(John's Creek, Georgia)</small></h5>
          <p class="card-text"><small class="text-muted">June 2022 to Current</small></p>
          <p class="card-text">
            •	Agile development of microservices for modern warehouse management software
          </p>
          <p class="card-text">
            •	Using software technologies and concepts: Java, Spring Boot, GCP Pub/Sub, GCP Cloud SQL, MySQL, Maven, Jenkins, Project Lombok, REST, Jira, Spinnaker, and GitLab
          </p>
          <p class="card-text">
            •	Software testing using JUnit, Mockito, Postman, and Jenkins
          </p>
        </div>
      </div>
  </div>

  <div class="col-md-6 d-flex align-items-stretch">

    <div class="card mb-3" data-aos="flip-right" data-aos-duration="2000">
      <img class="card-img-top p-4" src="../assets/images/hpimg.png" alt="Card image cap" style="height: 200px;" />
    <div class="card-body">
    <h5 class="card-title">Software Developer Intern <small class="text-muted">(Remote)</small></h5>
    <p class="card-text"><small class="text-muted">June to August 2021</small></p>
    <p class="card-text">
      •	Worked to automate the error testing of ZCentral workstations
    </p>
    <p class="card-text">
      •	Developed software using C++, C#, and socket communication. Utilized Visual Studio for the development environment and used TortoiseSVN for source control
    </p>
    
  </div>


</div>
  </div>

</div>
<div class="row text-center mb-2" id="projects">
  <div>
    <h3>Projects</h3>
  </div>
 
</div>
<div class="row px-4">
  <div class="col-md-6 d-flex align-items-stretch">

      <div class="card w-100 mb-3" data-aos="zoom-in-up" data-aos-duration="1000">
        <!-- <img class="card-img-top p-4" src="../assets/images/macy's.png" alt="Card image cap" style="height: 200px;"/> -->
        <div class="card-body">
          <h5 class="card-title">Career Website</h5>
          <p class="card-text"><small class="text-muted">Website you are currently on!</small></p>

          <p class="card-text">
            •	Developed with Angular and Bootstrap
          </p>
          <p class="card-text">
            •	Deployed with AWS
          </p>
          <a href="https://github.com/alexscott155/career-website" class="card-link">Source Code</a>
        </div>
      </div>
  </div>
  <div class="col-md-6 d-flex align-items-stretch">

    <div class="card w-100 mb-3" data-aos="zoom-in-up" data-aos-duration="1000">
      <!-- <img class="card-img-top p-4" src="../assets/images/macy's.png" alt="Card image cap" style="height: 200px;"/> -->
      <div class="card-body">
        <h5 class="card-title">BookSmart</h5>

        <p class="card-text"><small class="text-muted">Mobile app that recommends book based off a user’s interests, kind of like a Tinder for books.</small></p>
        <p class="card-text">
          • Used Ionic as a stack that allows the app to run on the mobile web or as an app on iOS or Android
        </p>
        <p class="card-text">
          •	Used Angular as the TypeScript-based component framework for building scalable web apps.
        </p>
        <p class="card-text">
          •	Used Google Cloud Firestore (NoSQL) as the database for user’s interests, authentication, etc.
        </p>
        <a href="https://github.com/alexscott155/booksmart" class="card-link">Source Code</a>
      </div>
    </div>
</div>

  
</div>

<div class="row px-4">
  <div class="col-md-6 d-flex align-items-stretch">

    <div class="card w-100 mb-3" data-aos="zoom-in-up" data-aos-duration="1000">
      <!-- <img class="card-img-top p-4" src="../assets/images/hp-white.png/" alt="Card image cap" style="height: 200px;" /> -->
    <div class="card-body">
    <h5 class="card-title">Cocktail Party</h5>
    <p class="card-text">
      •	Used HTML, JavaScript, CSS, and Bootstrap 4 for developing the website
    </p>
    <p class="card-text">
      •	Used the Vidyo.io API to natively integrate video communications into the web app and used NPM to manage packages

    </p>
    
  </div>


</div>
  </div>

  <div class="col-md-6 d-flex align-items-stretch">

    <div class="card w-100 mb-3" data-aos="zoom-in-up" data-aos-duration="1000">
      <!-- <img class="card-img-top p-4" src="../assets/images/hp-white.png/" alt="Card image cap" style="height: 200px;" /> -->
    <div class="card-body">
    <h5 class="card-title">Mock Store Mobile Application </h5>
    <p>
      <small class="text-muted">Mock store application where customers can place orders and owners can manage the store.</small>
    </p>
    
    <p class="card-text">
      •	Used Ionic as a mobile app stack that allows the app to run on the mobile web or as a stand-alone mobile application on iOS or Android


    </p>
    <p class="card-text">
      •	Used Angular as the TypeScript-based component framework for building scalable web apps

    </p>
    <p>
      •	Used Google Cloud Firestore (NoSQL) as the database for storing users, product orders, etc.

    </p>
  </div>


</div>
  </div>

</div>




  


<router-outlet></router-outlet>
