<div class="row text-center mb-2" id="projects">
    <div>
        <h3>Projects</h3>
    </div>
</div>
<div class="row px-4">
    <div class="col-md-6 d-flex align-items-stretch">
        <div class="card w-100 mb-3" data-aos="zoom-in-up" data-aos-duration="1000">
            <img class="card-img-top p-4" src="../assets/images/angular_bootstrap.png" alt="Card image cap"
                style="height: 200px;" />
            <div class="card-body">
                <h5 class="card-title">Career Website</h5>
                <p class="card-text"><small class="text-muted">Website you are currently on!</small></p>
                <p class="card-text">
                    • Developed with Angular and Bootstrap
                </p>
                <p class="card-text">
                    • Deployed with AWS Amplify
                </p>
                <a href="https://github.com/alexscott155/career-website" class="card-link">Source Code</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 d-flex align-items-stretch">
        <div class="card w-100 mb-3" data-aos="zoom-in-up" data-aos-duration="1000">
            <div class="card-body">
                <iframe class="w-100" height="315" src="https://www.youtube.com/embed/kE8LTLFRRB0?autoplay=1&mute=1">
                </iframe>
                <h5 class="card-title mt-1">BookSmart</h5>
                <p class="card-text"><small class="text-muted">Mobile app that recommends book based off a user’s
                        interests, kind of like a Tinder for books.</small></p>
                <p class="card-text">
                    • Used Ionic as a stack that allows the app to run on the mobile web or as an app on iOS or Android
                </p>
                <p class="card-text">
                    • Used Angular as the TypeScript-based component framework for building scalable web apps.
                </p>
                <p class="card-text">
                    • Used Google Cloud Firestore (NoSQL) as the database for user’s interests, authentication, etc.
                </p>
                <a href="https://github.com/alexscott155/booksmart" class="card-link">Source Code</a>
            </div>
        </div>
    </div>
</div>
<div class="row px-4">
    <div class="col-md-6 d-flex align-items-stretch">
        <div class="card w-100 mb-3" data-aos="zoom-in-up" data-aos-duration="1000">
            <div class="card-body">
                <iframe class="w-100" height="315" src="https://www.youtube.com/embed/EqoB03plNWg?autoplay=1&mute=1">
                </iframe>
                <h5 class="card-title mt-1">Cocktail Party</h5>
                <p class="card-text"><small class="text-muted">Video chat web app where users can traverse a virtual
                        room in a proximity chat (a virtual “cocktail party”)</small></p>
                <p class="card-text">
                <p class="card-text">
                    • Used HTML, JavaScript, CSS, and Bootstrap 4 for developing the website
                </p>
                <p class="card-text">
                    • Used the Vidyo.io API to natively integrate video communications into the web app and used NPM to
                    manage packages
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 d-flex align-items-stretch">
        <div class="card w-100 mb-3" data-aos="zoom-in-up" data-aos-duration="1000">
            <!-- <img class="card-img-top p-4" src="../assets/images/hp-white.png/" alt="Card image cap" style="height: 200px;" /> -->
            <div class="card-body">
                <iframe class="w-100" height="315" src="https://www.youtube.com/embed/Z4YJ42hTCdA?autoplay=1&mute=1">
                </iframe>
                <h5 class="card-title mt-1">Mock Store Mobile Application </h5>
                <p>
                    <small class="text-muted">Mock store application where customers can place orders and owners can
                        manage the store.</small>
                </p>
                <p class="card-text">
                    • Used Ionic as a mobile app stack that allows the app to run on the mobile web or as a stand-alone
                    mobile application on iOS or Android
                </p>
                <p class="card-text">
                    • Used Angular as the TypeScript-based component framework for building scalable web apps
                </p>
                <p>
                    • Used Google Cloud Firestore (NoSQL) as the database for storing users, product orders, etc.
                </p>
            </div>
        </div>
    </div>
</div>