/* You can add global styles to this file, and also import other style files */
.navbar-nav > li{
    margin-left:2rem;
    margin-right:2rem;
  }

  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }